@import "src/styles/colors.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
	color: var(--theme-primary, $primary);
	text-decoration: none !important;
}

ul {
	list-style: none;
	padding: unset;
	margin: 0;
}

html {
	width: 100%;
	height: 100vh;
}

body {
	background-color: var(--theme-bg-primary, $bg-primary);
	font-family: "General Sans", sans-serif;
}

#root {
	height: 100vh;
}
